{% extends 'base.html' %}
{% block content %}

<div class="container">
<h1 style="text-align: center;">Deliver Chain problem</h1>
</div>
            <div class="card card-cascade narrower">
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <canvas id="polarChart" height="250" width="730" class="chartjs-render-monitor" style="display: block; width: 408px; height: 272px;"></canvas>
              </div>
              <!-- Card content -->
            </div>

<script>

chartIt();
    async function chartIt() {
    const data = await getData();
    var ctx = document.getElementById("polarChart").getContext('2d');
    var myPolarChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
        labels: data.xs,
        datasets: [{
          data: data.ys,
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
        }]
      },
      options: {
        responsive: true
      }
    });
}

    async function getData() {
    const xs = [];
    const ys = [];

    const response = await fetch('https://raw.githubusercontent.com/ankurparanjpe/khajana/master/khajana/morning_failed.csv');
    const data = await response.text();

    const table = data.split('\n').slice(1);
    table.forEach(row => {
      const column = row.split(',');
      const supplier = column[13];

      if(supplier) {
      xs.push(supplier)
      } else {
        ;
      }

      const missing = column[14];
      if(missing != '') {
      ys.push(missing)
      } else {
        ;
      }
    });
    return {xs,ys};
    }


</script>
{% endblock %}